*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.customBorder{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  
}
.customBorder p{
  font-size: 18px;
}
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
.MainContainer{
  position: relative;
  width: 100%;
  min-height: 92vh;
}
.MainContainer video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 92vh;
  width: 100%;
  object-fit: cover;
}
.customForm{
  width: 40%;
}
@media screen and (max-width : 900px) {
  .customForm{
    width: 100% ;
  }
  
}